[Unit]
Description=Nexus Repository Manager
After=network.target

[Service]
Type=simple
ExecStart=/opt/nexus/bin/nexus start
ExecStop=/opt/nexus/bin/nexus stop
User=nexus
Restart=on-abort

[Install]
WantedBy=default.target
